<div class="home-intro">
        <div class="home-title"> Hiran Venugopalan </div>
        <div class="home-sub-title" style="padding: 0px;"> Digital Product Designer </div>

        <div class="home-content">
                Product designer and design coach with 12+ years of experience in designing and building teams for agencies, startups and enterprises. Currently leading remote design team at <a href="https://www.kaleyra.com/">Kalerya</a>.
        </div>
        <div class="home-content no-padding">
                This website is my digital garden, a half-blog-half-wiki! Here, you'll find my ever-changing working notes, logs of my readings, watchlist, web-finds and more.</div>

<div class="home-contact ">
        <div class="home-sub-title"> Collaborate / Connect </div>
        <div class="home-content no-padding">
                I offer  <a href="{{'/coaching' | relative_url}}">design coaching</a> through <a href="https://adplist.org/mentors/hiran-venugopalan">ADPList</a> and <a href="https://topmate.io/hiran">Topmate</a>.
                Occasionally, I send <a href="https://hiran.substack.com/">This & That</a>  to your inbox. 
                Feel free to reach me at <a href="mailto:hi@hiran.in">hi@hiran.in</a>
        </div>
</div>
