<div class="home-intro">
        <div class="home-title"> networks </div>
        <div class="home-sub-title" style="padding: 0px;"> Hello Friend!  </div>

        <div class="home-content">
                Home Page 
        </div>
        <div class="home-content no-padding">
                WeChat;WorkGroupro.</div>
<!-- posts -->
<!-- posts -->

<div class="home-contact ">
        <div class="home-sub-title"> Collaborate / Connect </div>
        <div class="home-content no-padding">
                
                WorkGroupro#Gmail.Com
        </div>
</div>
