<div class="home-intro">
        <div class="home-title"> 青红椒 </div>
        <div class="home-sub-title" style="padding: 0px;"> Hello Friend!  </div>

        <div class="home-content">
                Home Page 欢迎页面
        </div>
        <div class="home-content no-padding">
                WeChat;QingHongJiao.</div>
<!-- posts -->
<div class="home-posts">
        <a href="{{'/posts' | relative_url}}">
                <h3 class="home-sub-title arrow-link">
                        <span class="text"> Latest Working posts</span>
                        <span class="arrow">See All &rarr;</span>
                </h3>
        </a>

        <div class="home-wrapper">  
                {% assign posts = site.posts | where: 'category', 'notes' | where: 'feed', 'show' | sort: 'date' | reverse %}
                {% for note in posts limit: 6 %}
                <div class="homelist-feed"> <a href="{{ note.url }}">{{ note.posts }}</a></div>
                {% endfor %}
        </div>
</div>
<!-- posts -->

<div class="home-contact ">
        <div class="home-sub-title"> Collaborate / Connect </div>
        <div class="home-content no-padding">
                
                HelloWorkDev@Gmail.Com
        </div>
</div>
